#content {
  text-align: center;
  
  a {
    border-bottom: none;
  }

  .recharts-wrapper {
    padding: 1px;
    position: absolute !important;
    bottom: 0;
    opacity: 0.2;
    left: 0 !important;
    width: 100% !important;
  }

  .repoLogo {
    img {
      width: 20px !important;
      border-radius: none;
    }
  }

  #me {
   
   img {
      border-radius: 50%;
      width: 100px;
    }
    
  }

  #blog-posts {
    margin: 40px 0px;
    text-align: left;
  
    ul li {
      margin: 10px 2px;
    }

    ul li i {
      margin: 10px;
      line-height: 8px;
    }

    ul li a:hover {
     background: #006699;
     color: white;
    }

    a {
      margin: 5px 0;
      font-size: 18px;
      color: #006699;
    }
  }

  #projects {
    margin: 40px 0px;
    text-align: left;

    ul {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
    }

    .box {
      height: 145px;
      position: relative;
      border-radius: 0 !important;
      border: 1px solid rgba(10, 10,10,.1);
    }

    li a {
      position: absolute;
      right: -1px;
      bottom: 0;
      font-size: 18px;
    }

    ul li {
      margin: 10px 5px;
      text-transform: capitalize;
      width: 310px;
    }
  }
}