@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css";

@import 'reset';
@import '_components/logo';
@import '_components/right-menu';
@import '_components/content';

html {
  background: transparent;
}

footer {
  font-size: 10px;
  padding: 5px;
  position: fixed;
  bottom: 0;
  background: #20BC56;
  width: 100%;
  color: white;
}

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";